!!! XML
!!!
%html
    %head
        %title Polyglot Test
        %link{:href => 'css/main.css', :rel => 'stylesheet', :type => 'text/css'}
        %script{:src=> 'js/main.js', :type=> 'text/javascript'}
    %body
        %h1 Edit Away
